html {
  font-size: 30px; /* px は「ピクセル」 (pixels) の意味。ベースフォントサイズは 10 ピクセルの高さになった */
  text-align: center;
  background-color:#808080;
}
ul{
  display:100%;
  flex-wrap:wrap;
  list-style:none;
  margin:0;
  padding:0;
}


img{
  width: 100%;
}

img:hover {
  filter: blur(0px);
  transition: 0.1s;
}
img {
  filter: blur(5px);
  transition: 3s;
}